In [1]:
# print
print("hello world")

hello world

In [2]:
# variable
var = 1
print(var)

1

In [2]:
# variable
nama = "Bagus Bimawan Sembodo"
nama

'Bagus Bimawan Sembodo'

In [2]:
# condition
a = "linux"
b = "windows"
if a == "linux":
    print("benar")
else:
    print("salah")

if a == b :
    print("benar")
else:
    print("salah")

benar
salah

In [24]:
# function
def Greeting(nama):
    print("hello " + nama )
Greeting("Bagus")
Greeting("Arif Wicaksono")

hello Bagus
hello Arif Wicaksono

In [12]:
# function and condition

def nilai(a):
    if a >=  90:
        print("nilai anda bagus ")
    elif a >= 80:
        print("nilai anda cukup")
    else:
        print("nilai anda kurang")

nilai(90)

nilai anda bagus

In [23]:
# perulangan

for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [32]:
# indexing
name = "Bagus"
name[0]
name[1]
name[2]
name[:3]
name[3:]
name[2:]

'gus'

In [4]:
# list
fruits = ["apple", "banana", "cherry"]
type(fruits)
fruits[2]

'cherry'

In [7]:
# tuple
fruitstuple = ("apple", "banana", "cherry")
fruitstuple[0]
fruitstuple

('apple', 'banana', 'cherry')

In [12]:
# dictionary
objek = {"name": "Bagus", "age": 20}
type(objek)
print(objek)
objek["name"]

{'name': 'Bagus', 'age': 20}

'Bagus'

In [24]:
import  pandas as pd
path_file = "/Users/macbookpro2019/Developer/Machine-Learning/machine-learning/data/apple_sales_2024.csv"
df = pd.read_csv(path_file)

In [25]:
df

,State,Region,iPhone Sales (in million units),iPad Sales (in million units),Mac Sales (in million units),Wearables (in million units),Services Revenue (in billion $)
0,Chongqing,Greater China,7.46,6.75,1.19,5.88,15.88
1,Germany,Europe,8.63,14.06,7.03,7.42,10.12
2,UK,Europe,5.61,14.09,8.78,8.19,19.85
3,Shanghai,Greater China,7.82,7.97,9.78,2.28,6.16
4,Thailand,Rest of Asia,16.70,8.13,6.46,3.48,13.29
...,...,...,...,...,...,...,...
995,Mexico,Rest of World,29.86,10.30,7.40,9.60,18.56
996,Texas,North America,27.83,12.52,8.89,4.46,6.38
997,Germany,Europe,25.47,7.69,7.90,6.90,15.00
998,Shenzhen,Greater China,15.34,8.81,8.24,8.78,15.49
999,Shanghai,Greater China,26.30,4.06,3.41,5.69,14.29

In [27]:
df.drop_duplicates()

,State,Region,iPhone Sales (in million units),iPad Sales (in million units),Mac Sales (in million units),Wearables (in million units),Services Revenue (in billion $)
0,Chongqing,Greater China,7.46,6.75,1.19,5.88,15.88
1,Germany,Europe,8.63,14.06,7.03,7.42,10.12
2,UK,Europe,5.61,14.09,8.78,8.19,19.85
3,Shanghai,Greater China,7.82,7.97,9.78,2.28,6.16
4,Thailand,Rest of Asia,16.70,8.13,6.46,3.48,13.29
...,...,...,...,...,...,...,...
995,Mexico,Rest of World,29.86,10.30,7.40,9.60,18.56
996,Texas,North America,27.83,12.52,8.89,4.46,6.38
997,Germany,Europe,25.47,7.69,7.90,6.90,15.00
998,Shenzhen,Greater China,15.34,8.81,8.24,8.78,15.49
999,Shanghai,Greater China,26.30,4.06,3.41,5.69,14.29

In [28]:
df.dropna()

,State,Region,iPhone Sales (in million units),iPad Sales (in million units),Mac Sales (in million units),Wearables (in million units),Services Revenue (in billion $)
0,Chongqing,Greater China,7.46,6.75,1.19,5.88,15.88
1,Germany,Europe,8.63,14.06,7.03,7.42,10.12
2,UK,Europe,5.61,14.09,8.78,8.19,19.85
3,Shanghai,Greater China,7.82,7.97,9.78,2.28,6.16
4,Thailand,Rest of Asia,16.70,8.13,6.46,3.48,13.29
...,...,...,...,...,...,...,...
995,Mexico,Rest of World,29.86,10.30,7.40,9.60,18.56
996,Texas,North America,27.83,12.52,8.89,4.46,6.38
997,Germany,Europe,25.47,7.69,7.90,6.90,15.00
998,Shenzhen,Greater China,15.34,8.81,8.24,8.78,15.49
999,Shanghai,Greater China,26.30,4.06,3.41,5.69,14.29